{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "diazdaniel@correo.unimet.edu.ve",
      "Space": "Prueba"
    },
    "Name": "Middleware-Pipeline",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}